/* Modal dialog*/
.modalDialog{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto; 
	opacity: 0;
	pointer-events: none; 
	transition: all 0.5s ease;
	z-index: 1;
}

.modalDialog:target{
	opacity: 1;
	pointer-events: auto; 
}

.modalDialog > div{ 
	background-color: #fff;
	width: 40%;
	padding: 2% 4%;
	margin: 10% auto;
	border-radius: 32px;
	position: relative;
}

textarea{
	display: block; 
	width: 85%;
	height: 28px;
	line-height: 24px;
	font-size: 14px;
	font-weight: 300;
	background-color: rgba(0,0,0,0.05);
	margin: 10px auto;
	outline: none;
	border: none;
	resize: none;
	border-radius: 6px;
}

textarea:focus{
	border: 1px solid #fff;
	background-color: rgb(179, 165, 165);
}

.closebutton{
	background-color: rgb(129, 124, 124);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	line-height: 40px;
	width: 40px;
	position: absolute;
	top: -10px;
	right: -10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(34, 33, 33, 0.3);
	transition: all 0.3s ease;
}

.closebutton:hover{
	background-color: #3a3737;
}

.modalDialog h1{
	text-align: center;
	font-size: 36px;
	line-height: 36px;
	font-weight: 300;
	color: rgb(121, 121, 122);
	padding: 16px 0;
	/* z-index: 1; */
}

.modalDialog #modalBtn{
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;
	display: block;
	background-color: rgb(129, 124, 124);
	width: 4.2em;
	margin: 1.25em auto;
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 0.25em;
	border-radius: 16px;
	transition: all 0.3s ease;
}

.modalDialog #modalBtn:hover{
	text-decoration: underline;
	background-color: #3a3737;
	box-shadow:	5px 5px 10px rgba(0,0,0,0.2);
}

.grayText{
	color: rgb(32, 32, 32);
}

#modalP{
	color:rgb(116, 110, 110);
	text-align: center;
}